.place__paragraph {
  margin: 0;
  padding: 0;
  font-family: "Inter", "sans-serif", "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}

.place__paragraph:only-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
